html {
  box-sizing: border-box;
  color: rgb(56, 47, 32);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body,
.pokemon,
input,
.userpkmn {
  margin: 0;
}
.pokemon {
  display: flex;
  background-color: coral;
  border-radius: 20px;
  padding: 32px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}
input {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  border-radius: 20px;
}

.userpkmn {
  border-radius: 20px;
  margin-top: 300px;
}
